/*  ---------------------------------------  HEADER  ---------------------------------------  */

#navHeader {
    padding: 1% 23% 1% 20%;
    z-index: 15 !important;
    box-shadow: 0px 2px 11px #FFF;
}

#marca {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.blocoMenuHeader {
    flex-direction: row;
    justify-content: flex-end;
}

.itemMenu {
    font-size: 1.7em;
    font-family: Arial;
    padding: 0 10% 0 0;
    width: 100%;
}

.itemMenuUltimo {
    padding: 0 20% 0 0;
}

.itemMenuTexto {
    font-family: Arial !important;
    padding: 0 15% 0 0;
    white-space: pre;
    color: black !important;
}


/*  ---------------------------------------  FIM HEADER  -----------------------------------  */


/* ---------------------------------------- ADM SIDE BAR ---------------------------------------  */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* ---------------------------------------- FIM ADM SIDE BAR -----------------------------------  */


/* ---------------------------------------- FOOTER --------------------------------------------- */

#footer {
    background-color: #162e24;
    width: 100%;
    /* margin-top: 30px; */
    padding: 50px 0 25px;
    color: #F7F7F7;
    bottom: 0;
    bottom: 0;
    left: 0;
}

.corCinza {
    color: #BEC0C2;
}

.numeroFooter {
    color: #F7F7F7;
    margin-right: 8px;
}

.textoFooterWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.linhaFooter {
    width: 80%;
    background-color: #2b4034;
    height: 1px;
}

.linhaFooterWrapper {
    flex: 1;
    margin-top: 15px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.DropMenuCelular {
    margin-left: 0px!important;
}

.UserTXTCell {
    display: none;
}


/* ---------------------------------------- FIM FOOTER --------------------------------------------- */

@media (max-width:800px) {
    .textoFooterWrapper {
        font-size: 12px !important;
    }
    .DropMenuCelular {
        margin-left: -4% !important;
    }
    .UserTXTCell {
        display: block;
    }
    .UserContainer {
        border-top: 1px solid #2b4034;
        width: 100%;
        justify-content: start;
        margin-top: 5px;
        padding: 2px;
    }
    li a[aria-expanded="true"] .UserContainer {
        width: 94% !important;
    }
}