#bodyBuscaUsuarios {
    display: flex;
    width: 1300px;
    max-width: 90%;
    margin: 60px auto 0 auto;
}


/*#region Filtro de Usuários*/
#filtroWrapper {
    padding: 15px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: fit-content;
}

#tituloFiltro {
    font-family: Poppins-Bold;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.separadorFiltro {
    width: 80%;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 5px;
}

.wrapperFiltro {
    margin: 20px 0 0 4%;
    align-self: flex-start;
    width: 92%;
}

.tituloInputFiltro, .wrapperFiltro label {
    font-family: Poppins-Bold;
    font-size: 15px;
    margin-bottom: 3px;
    color: #090f18;
}


.wrapperFiltro input, .wrapperFiltro .form-control {
    padding: 4px 12px 4px !important;
    width: 100% !important;
    margin-bottom: 3px;
}
.wrapperFiltro .wminput:focus {
    border: 2px 2px 0 2px solid rgb(33, 136, 56);
}

.shadowInputTags {
    box-shadow: 0px 0px 0px 2px rgb(33, 136, 56);
}

.tagIndividual {
    font-size: 30px !important;
}

#tagsInput input {
    padding: 0 !important;
}

.wrapperFiltro > .row > .col-8 {
    padding: 0 !important;
    width: 96%;
}


#inputProfissao {
    border-radius: 0.25rem;
    border: 1px solid #ced4da !important;
    transition: 0.1s !important;
    background-color: white;
    width: 100%;
    margin: 0 !important;
}

#inputProfissao:focus + ul{
    box-shadow: 0px 2px 0px rgb(33, 136, 56), 
    -2px 0px 0px rgb(33, 136, 56), 2px 0px 0px rgb(33, 136, 56);
    padding: 0;
} 
#inputProfissao:focus {
    outline: none !important;
    border: none;
    box-shadow: 0px 0px 0px 2px rgb(33, 136, 56);
}

/* Estilos diferentes para quando houver a lista. */
.inputProfissaoListaVisivel {
    border-radius: 0.25rem 0.25rem 0 0 !important;
    box-shadow: 0px -2px 0px rgb(33, 136, 56), 
    -2px 0px 0px rgb(33, 136, 56), 2px 0px 0px rgb(33, 136, 56);
}


.autocomplete-input {
    background-image: none !important;
}
.avaliacaoTexto {
    align-self: flex-start;
    margin-left: 4%;
}
.avaliacaoFiltro {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoEstrelas {
    font-size: 22px;
    font-weight: 700;
    user-select: none;
}

.sliderFiltroUsuarios {
    margin-top: 10px;
}
/*#endregion Filtro de Usuários*/


/*#region Busca e Paginação -----------------------------*/
#buscaUsuariosWrapper {
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.buscaUsuarios {
    padding: 8px 12px 8px !important;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-right: 3%;
    flex: 1;
    min-width: 30%;
}

.iconSearch {
    margin: 0 2.5% 0 1.5%;
}

#inputBuscaUsuario {
    width: 90%;
    border: 0;

}

#inputBuscaUsuario:focus {
    outline: none;
    border: 0;
}

.paginacaoUsuarios {
    width: fit-content;
}

.paginacaoUsuarios .paginacao {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paginacaoUsuarios ul {
    margin-bottom: 0;
}
/*#endregion -----------------------------*/

/*#region Lista de Usuários */
#usuariosListaWrapper {
    margin: 0 3% 25px;
}

/*#endregion Lista de Usuários*/