.categories_box {
  height: 80%;
  width: 100%;
  box-shadow: 1px 0px 6px grey, 2px 3px 5px grey;
  background: #fff;
}

#barlateral {
  position: absolute;
  height: 100vh;
  width: 26%;
  z-index: 2;
  transition: all .2s linear;
  will-change: transform, transition;
}

.HeaderTamanho {
  height: 9vh !important;
}

@media (max-width: 800px) {
  #barlateral {
    width: 100% !important;
  }
  .IconeMenuBar {
    left: 90% !important;
  }
  #barlateral.close .IconeMenuBar {
    left: 96% !important;
  }
  .headerChat span {
    font-size: 16px !important;
  }
  .HeaderTamanho {
    height: 12vh !important;
  }
  .ContainerPaginaInicial {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .chatbotimg {
    height: 10%;
    margin-left: -22%;
  }
  .chatimg {
    width: 81% !important;
  }
  
}

#barlateral.close {
  transform: translateX(-100%);
}

#barlateral.close .IconeMenuBar {
  left: 100%;
}

#barlateral.close .IconeMenuBar span {
  transform: rotate(0deg);
}

.IconeMenuBar {
  background-color: #fff;
  height: 50px;
  box-shadow: 3px 1px 3px 0px grey, 2px 3px 5px grey;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  left: 92%;
  font-size: 20px;
  transition: all .2s ease-in-out;
  right: 0%;
  cursor: pointer;
  z-index: 4;
}

.IconeMenuBar span {
  transition: all .2s ease-in-out;
  transform: rotate(180deg);
}

.scroolChatProjeto {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 10px;
  margin: 0px;
  will-change: scroll-position;
  user-select: none;
}

.ItemProjetoChat {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px #b3b3b3;
  margin-top: 10px !important;
  position: relative;
}

.ImageContainerChatItem {
  position: relative;
  height: 150px;
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.ImagemItemProjeto {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  transform: scale(1, 1);
  filter: brightness(0.2);
  filter: blur(0.5);
  will-change: transform, filter;
  object-fit: cover;
  object-position: center;
}

.ItemProjetoChat:hover .ImagemItemProjeto {
  transform: scale(1.2, 1.2);
  filter: grayscale(0.5);
  filter: brightness(0.5);
}

.iconeImagemNull {
  font-size: 3.5em !important;
  margin: 10px 0;
}

.imagemU {
  background-color: #fff;
  height: 60px !important;
  width: 60px !important;
  margin: 0px 0px 10px 0px !important;
}

.imagemU1 {
  background-color: #fff;
  height: 50px !important;
  width: 50px !important;
  margin: 20px 0px 15px 0px !important;
}

.Dados {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 15%;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  padding: 10PX;
}

.textos {
  height: 150px;
  width: 80%;
  margin-top: 5%;
}

.UsuarioProjeto {
  height: 100px;
  justify-content: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 15%;
  margin-top: 0px;
}

.selecionado {
  box-shadow: 1px 2px 11px 5px #00ffffd9;
}

.ItemProjetoChat.selecionado .ImagemItemProjeto {
  transform: scale(1.2, 1.2);
  filter: grayscale(0.5);
  filter: brightness(0.5);
}
.scroolChatProjeto::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

/* Track */

.scroolChatProjeto::-webkit-scrollbar-track {
  background: #21883844;
  width: 50px;
}

/* Handle */

.scroolChatProjeto::-webkit-scrollbar-thumb {
  background: #218838;
  height: 8px;
}

/* Handle on hover */

.scroolChatProjeto::-webkit-scrollbar-thumb:hover {
  background: #1a692b;
}

.ListaDeChats::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

/* Track */

.ListaDeChats::-webkit-scrollbar-track {
  background: #21883844;
  width: 50px;
}

/* Handle */

.ListaDeChats::-webkit-scrollbar-thumb {
  background: #218838;
  height: 8px;
}

/* Handle on hover */

.ListaDeChats::-webkit-scrollbar-thumb:hover {
  background: #1a692b;
}

.ListaDeChats {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.itemConversas {
  padding: 10px;
  height: 20%;
  width: 100px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px #b3b3b3;
  background-color: #b3b3b3;
  transition: all .1s ease-in-out;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.itemConversas:hover {
  background-color: #1a692b;
  color: #ffff;
}

.itemConversas:active {
  box-shadow: 0px 0px 2px 2px #b3b3b3;
}

.headerChat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
  user-select: none;
}

.headerChat p {
  flex-wrap: wrap;
  text-align: center;
  justify-self: center;
  justify-content: center;
  margin: 0px;
  display: flex;
  font-size: 14px;
  padding: 10px;
  align-items: center;
}

.headerChat a {
  justify-self: end;
  padding: 4px;
  margin: 0px;
  font-size: 14px;
}

.headerChat span {
  font-size: 24px;
  color: #218838;
  cursor: pointer;
  justify-content: start;
}
.MensagemPaginaInicial {
  display: flex;
  width: 100%;
  padding: 10%;
  background-color: white;
}
.ContainerPaginaInicial {
  display: flex;
  align-items: center;
  width: 100%;
}
.chatbotimg {
  height: 10%;
}
.chatimg {
  width: 40%;
}
