.nav-item.nav-link.active {
  background-color: #218838 !important;
  color: white;
}
.nav-item.nav-link {
  background-color: #9199a0 !important;
  color: white !important;
}
.nav-item.nav-link {
  border: 0px;
  border-radius: 0px;
  color: white !important;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease !important;
}
.fade-enter,
.fade-leave-to {
  opacity: 0 !important;
}
.fader-enter-active,
.fader-leave-active {
  transition: opacity .1s ease-in-out;
}
.fader-enter,
.fader-leave-to {
  opacity: 0;
}
.fadefast-enter-active,
.fadefast-leave-active {
  transition: opacity .5s ease;
}
.fadefast-enter,
.fadefast-leave-to {
  opacity: 0;
}




.filtrosWrapper {
  margin-top: 10px;
  margin-left: 10px;
  width: 20%;
  height: min-content;
  padding: 2%;
  padding-bottom: 0%;
  border-radius: 14px;
  box-shadow: 3px 1px 6px grey, 2px 3px 5px grey;
  background: #fff;
}
.WrapperNotificacoesTab {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.WrapperNotificacoesTabItem{
  display: flex;
}
.NotificacoesListWrapper {
  height: 50vh;
  overflow-y: auto;
  padding: 10px;
}
.iconNotiAcao {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.iconNotiAcao >svg{
  transition: all .1s ease-in-out;
}
.iconNotiAcao.active {
  color: #218838 !important;
}
.iconNotiAcao.active > svg {
  color: #218838 !important;
}


.NotificacoesListWrapper {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.NotificacoesListWrapper::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.NotificacoesListWrapper::-webkit-scrollbar-track {
  background: #21883844 !important;
  width: 50px;
}

/* Handle */

.NotificacoesListWrapper::-webkit-scrollbar-thumb {
  background: #218838 !important;
  height: 10px;
}

/* Handle on hover */

.NotificacoesListWrapper::-webkit-scrollbar-thumb:hover {
  background: #1a692b !important;
}



.ScrollVerde::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.ScrollVerde::-webkit-scrollbar-track {
  background: #21883844 !important;
  width: 50px;
}

/* Handle */

.ScrollVerde::-webkit-scrollbar-thumb {
  background: #218838 !important;
  height: 10px;
}

/* Handle on hover */

.ScrollVerde::-webkit-scrollbar-thumb:hover {
  background: #1a692b !important;
}


.linha{
  height: 2px;
  border-radius: 20px;
  background-color:#777777 ;
}
.PropostaItem{
  height: min-content;
  width: 100%;
  border-radius: 10px;
  background-image: url('../../src/img/background/background.png');
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.PropostaItem.Brilha{
  animation: Brilha 1.5s infinite alternate ease-in-out;
}
@keyframes Brilha{
  from{
    box-shadow:  0px 0px 10px 3px #c9e9f1;
    
  }
  to{
    box-shadow:  0px 0px 10px 7px #e8f961;
  }
}
.WrapperBotoesProposta{
  display: flex;
}
.BotoesProposta{
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 1px solid #777777aa;
  background: transparent;
  opacity: 0.8;
  transition: .2s ease-in-out all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white !important;
  padding: 3px;
  margin: 2px;
}
.BotoesProposta.Aceitar{
  border: 1.5px solid #165461 !important;
  background: #1d6c7dd5 !important;
}
.BotoesProposta.Recusar{
  border: 1.5px solid #851a14 !important;
  background: #a8201ad5 !important;
  /* color: #a8201a !important; */
}
.BotoesProposta:hover{
  opacity: 1;
}
.TituloProposta{
}
.imagemProposta{
  height: min-content;
  width: 50px;
}
.iconeImagemNull{
  font-size: 50px !important;
}
.imagemTamanhoUser{
  height: 45px !important;
  width: 45px !important;
}
.wrapperMensagemVazia{
  display: flex;
  padding: 1%;
}
.wrapperMensagemVazia > p{
  padding: 4%;
  word-break: break-word;
}
.wrapperMensagemVazia > img{
  height: 58vh;
  padding: 1%;
}

.PropostaFuncionarioItem{
  display: flex;
  height: 200px;
  width: 100%;
  background-color: #1a692b;
}
.iconPCLick{
  cursor: pointer;
  color: #ffff !important;

}
.iconPCLick:hover{
  color: #e6d979 !important;
}

/* #region ModalConfirmar*/

#filhoModal {
  max-width: 700px !important;
  max-height: 300px !important;
}

#footerModalConfirmacao {
  padding: 10px 2% 10px 10% !important;
  display: flex;
  justify-content: flex-end !important;
  width: 100%;
}

/* #endregion ModalConfirmar*/




@media (max-width:800px) {
  .wrapperMensagemVazia{
      flex-direction: column;
  }
  .ContainerWrapperGeralNotificacoes{
    width: 100% !important;
    margin: 0px !important;
  }
}