.row {
    margin: 0;  
}

.iconeInterrogacaoWrapper {
    color: #393939 !important;
    border-radius: 100%;
    font-size: 15px;
    -webkit-transform: scale(1);
    
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}
.iconeInterrogacao {

    display: flex;
    border-radius: 100%;
    cursor: pointer;
}

.linkPopover {
    height: fit-content;
    outline: none;
    font-size: 16px;
    margin-left: 4px;
}
/*#region Parte Superior --------------------------------------------------------------------------------------------*/

/*#region Background ----------------------------------------------------------------------------------------------------------------------*/

#bemVindo {
    font-family: Poppins-Regular;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    padding: 0;
    position: absolute;
    z-index: 2;
}

#bVNome {
    
    font-family: Poppins-Bold;
    letter-spacing: 1px;
}

.imagemBackgroundPerfilWrapper {
    width: 100%;
    position: absolute;
}

#imageBackgroundPerfil {
    width: 100%;
    /* height: 240px; */
    height: 17.15vw;
    display: flex;
    justify-content: center;
}


/*#endregion Background ----------------------------------------------------------------------------------------------------------------------*/

/*#region Cards Perfil ----------------------------------------------------------------------------------------------------------------------*/

#cardsDadosProposta {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardsDPWrapper {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cardDP {
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow:  0px 5px 5px 1px #ddd;
    background-color: white;
}

.textPerfilWrapper {
    text-align: left;
    flex: 1;
}

.iconePerfil{
    background-image: url("../../src/img/icons/perfil/spritesCardsPerfil.png");
    width: 60px !important;
    height: 60px;
    margin: 0 5% 0 0%;
    background-repeat: no-repeat;
    float: left !important;
    max-width: 60px;
    flex: 1;
    /* display: inline-block;
    border-image-repeat: stretch;
    text-align: left; */
}
@media only screen and (max-width: 1450px) {
    .cardsDPWrapper {
        width: 40%;
    }
    .cardDP { 
        width: 45%;
        height: 135px;
        display: flex;
        flex-direction: column;
    }
    .textPerfilWrapper {
        text-align: center;
    }
    .iconePerfil {
        margin: 0;
        padding: 10px;
    }
}
@media only screen and (max-width: 1095px) { 
    .cardDP {
        height: 155px;
    }
}
.olho {
    background-position: -60px 0px;
}

.martelo {
    background-position: -120px 0px;
}

.carimbo {
    background-position: -180px 0px;
}

.numeroCardPerfil {
    font-family: Poppins-Bold;
}

.textoCardPerfil {
    font-size: 14px;
}
/*#endregion ----------------------------------------------------------------------------------------------------------------------*/
/*#region Imagem Usuario ----------------------------------------------------------------------------------------------------------------------*/
#imgcontainer {
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#avaliacao {
    margin-bottom: 2%;
}
    /*#endregion ----------------------------------------------------------------------------------------------------------------------*/

    /*#region Estrelas -------------------------------------------------------------------------------------------------------------------*/

    .textoEstrelas {
        font-size: 28px;
        font-weight: 700;
        user-select: none;
    }

    .wrapperStarRating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1%;
        margin-top: 10px;
    }

    @media only screen and (max-width: 1900px) { 
        .textoEstrelas {
            font-size: 23px;
        }
    }

    @media only screen and (max-width: 1285px) { 
        .textoEstrelas {
            font-size: 22px;
        }
    }

    /*#endregion --------------------------------------------------------------------------------------------------------------------------*/

/*#endregion Parte Superior ----------------------------------------------------------------------------------------------------------*/

/*#region Parte Inferior - Cards -------------------------------------------------------------------------------- */

    /*#region Linha de cima ------------------------------------------------------------------------------ */

        .perfilCardHeader { 
            padding: 10px 15px 10px 5% !important; 
        }
        .cardsPerfilSuperior {
            display: flex;
            justify-content: center;
            margin: 35px 3% 40px 3%;
        }

        @media only screen and (max-width: 1450px) { 
            .cardsPerfilSuperior {
                margin: 75px 3% 40px 3%;
            }
        }

        .paddingCardInterno {
            padding-right: 0.9% !important;
        }
        
        #botaoEditarPerfil {
            font-size: 20px;
            cursor: pointer;
        }

        #botaoEditarPerfil:active {
            font-size: 22px;
        }


        /*#region Perfil*/
        .nomeEProfCP {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-left: 2%;
        }

        .profissaoWrapper {
            display: contents;
        }
        
        #nomeCP  {
            font-size: 22px;
            font-weight: bold;
        }

        #profCP {
            font-size: 21px;
            font-weight: 700;
            color: #aaa;
            display: flex;
            align-items: center;
        }
        
        .profCPBolinha {
            font-size: 24px;
            font-weight: 700;
            margin: 0 2% 0 2%;
            color: #aaa;
        }

        @media only screen and (max-width: 1500px) { 
            #nomeCP {
                font-size: 18px;
            }
            #profCP {
                font-size: 17px;
            }
            .profCPBolinha {
                font-size: 20px;
            }
        }
        @media only screen and (max-width: 1200px) {  
            .nomeEProfCP {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-direction: column;
            }

            .profCPBolinha {
                font-size: 28px;
                line-height: 19px;
            }
        }

        #tagsCPWrapper {
            display: flex;
            align-items: center;
            margin-top: 10px;
            overflow-x: auto;
            width: 100%;
            padding: 10px 0 10px 0;
        }
        /* SCROLL ---------------------------*/
        #tagsCPWrapper::-webkit-scrollbar {
            height: 7px;
        }
    
        /* Track */
        #tagsCPWrapper::-webkit-scrollbar-track {
            background: rgb(222, 247, 208);
        }

        /* Handle */
        #tagsCPWrapper::-webkit-scrollbar-thumb {
            background: rgba(61, 230, 61, 0.5);
        }
        
        /* Handle on hover */
        #tagsCPWrapper::-webkit-scrollbar-thumb:hover {
            background: rgba(61, 230, 61, 0.8);
        }
        /* END SCROLL ---------------------------*/

        .tagCP {
            padding: 5px 10px;
            border: 2px solid rgb(144, 223, 144);
            background-color: #e3fae5;
            border-radius: 10px;
            color: rgb(53, 78, 50);
            white-space: nowrap;
            margin: 0 0.8%;
            font-weight: 700;

        }

        #descricaoPerfil {
            margin-top: 25px;
            text-align: justify;
            text-indent: 5%;
            font-size: 19px;
        }



        
        /*#endregion Perfil*/

        /*#region Status da Conta*/

        #statusBodyC {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #iconeSubstituto {
            margin-top: 20px;
            width: 150px;
            height: 150px;
            background-color: rgb(231, 125, 26);
            border-radius: 100%;

        }

        #membroStatus {
            margin-top: 15px;
            color: #888;
            font-size: 22px;
            display: flex;
            justify-content: flex-start;
        }

        .wrapperUpgradeButton {
            display: flex;
            margin-top: 15px;
            height: 50px;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        #upgrade {
            border-radius: 40px;
            border: 3px solid rgb(181, 230, 29);
            background-color: rgb(238, 253, 191);
            height: 40px;
            width: 60%;
            font-size: 20px;
            font-weight: 700;
            color: #333;
            animation: botaoAnimation 3s infinite linear;
        }

        #upgrade:focus {
            
            outline: none;
            width: 70%;
            height: 45px;
            
            animation: none;
        }

        @keyframes botaoAnimation {
            0%   {
                width: 60%;
                height: 40px;
            }
            50%  {
                width: 65%;
                height: 40px;
            }
            100% {
                width: 60%;
                height: 40px;
            }
          }
        /*#endregion Status da Conta*/
    /*#endregion Linha de cima ------------------------------------------------------------------------------ */

/*#endregion Parte Inferior - Cards -------------------------------------------------------------------------------- */

/*#region Parte Modal Editar Perfil ---------------------------------------------------------------------------------------------- */

.tituloModalEP {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Bold;
    font-size: 28px;
    letter-spacing: 1px;
    color: rgb(8, 8, 24);
    margin: 15px 0;
}

.bodyModalEPWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 30px;
}
.bodyModalEP {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputPerfil {
    width: 75%;
}

.inputPerfil label {
    font-size: 20px !important;
    color: #090f18;
    font-weight: 700;
    margin-bottom: 3px;
}

.inputPerfil > input, .inputPerfil div.form-control {
    margin-bottom: 15px;
    cursor: text;
}

.inputPerfil div.form-control {
    padding: 4px 12px 4px !important;
}

.shadowInputTags {
    box-shadow: 0px 0px 0px 2px rgb(33, 136, 56);
}

.tagIndividual {
    font-size: 30px !important;
}

.inputPerfil .wminput:focus {
    border: 0;
    box-shadow: 0px 0px 0px 2px rgb(33, 136, 56);
}

.inputPerfil > .row > .col-8 {
    padding: 0 !important;
}

#botaoSalvarWrapperEP {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 5%;
}
#botaoSalvarEP {
    margin-top: 30px;
    height: 40px;
    width: 30%;
    border-radius: 10px;
    border: none;
    background-color: #3ab83a;
    font-family: Poppins-Bold;
    color: white;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 20px;
}

#botaoSalvarEP:focus {
    outline: none;
    border: 3px solid #319731;
}



/* #endregion Parte Modal Editar Perfil-------------------------------------------------------------------------------------------*/


