@media (max-width:800px) {
    .containerBox {
        height: 80vh !important;
        margin-top: 20% !important;
    }
    .imgContainerBox {
        height: 39% !important;
    }
}

.CONTAINER_M {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerBox {
    background-image: url('../../src/img/background/background.png');
    border-radius: 12px;
    width: 95%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    height: 24vh;
    flex-direction: column;
    padding: 5%;
    margin-bottom: 2%;
}


/* 
.imgContainerBox img {
    height: 100%;
    border-radius: 12px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    opacity: 0.7;
    filter: brightness(0.8) contrast(1.5);
}

.imgContainerBox {
    position: absolute;
    height: 30vh;
    border-radius: 12px;
    left: 7.5%;
    width: 85%;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#21883763, #21883746) !important;
    /* background-image: linear-gradient(#218838, #218838); */


/* } */

.feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.imagemUsuario {
    height: 125px !important;
    width: 125px !important;
}

.imagemU1 {
    width: 125px !important;
    height: 125px !important;
    background-color: white;
}

.iconeImagemNull {
    font-size: 125px !important;
}

.textoHeaderModal {
    color: white;
}

.selectLabel {
    color: white;
}


/* ITEMPROJETO */

.projetoItemContainer {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: 80%;
    margin-top: 20px;
    max-height: 100%;
    border-radius: 12px;
    background: #ffff;
    box-shadow: 3px 1px 6px grey, 2px 3px 5px grey;
}

.projetoHeader {
    display: flex;
    padding: 6px 6px 0px 6px;
    flex-direction: row;
    justify-content: space-between;
}

.projetoValor {
    font-size: 24px;
    color: green;
    font-family: Poppins-Bold;
    font-weight: bolder;
}

.fotoperfilprojeto {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.mostrarmais {
    background: none;
    font-style: inherit;
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

.projetoHeader2 {
    display: flex;
    padding: 0px 8px 0px 8px;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
}

.projetoFoter {
    display: flex;
    padding: 6px;
    flex-direction: row;
    justify-content: space-between;
}

.ItemContainerDesc {
    padding-left: 20px;
    font-size: 12px;
}

.categories_box {
    margin-top: 10px;
    margin-left: 10px;
    height: 80%;
    width: 100%;
    border-radius: 14px;
    box-shadow: 3px 1px 6px grey, 2px 3px 5px grey;
    background: #fff;
}

.fadefast-enter-active,
.fadefast-leave-active {
  transition: opacity .25s ease !important;
}
.fadefast-enter,
.fadefast-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease !important;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

 /*------------------------- HEADER MODAL -----------------------------*/
    
 .imgHeaderModal {
    height: 440px;
    max-width: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
}

.headerInterno {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 440px;
}

.degradeHeaderModal {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.blocoNome {
    position: absolute;
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
    color: #191919;
    font-size: 250%;
    text-align: center;
}

.textoHeaderModal {
    font-family: Arial;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 1px 1px 3px #393939;
}

.iconeImagemNull {
    font-size: 3.5em !important;
    margin: 10px 0;
}

.tituloHM {
    margin-top: 18px;
    font-family: Poppins-Regular;
}

.imagemTamanhoUser {
    width: 160px !important;
    height: 160px !important;
    background-color: #fff;
}
/*------------------ FIM HEADER MODAL -----------------------------*/
/*------------------ BODY MODAL -----------------------------*/

.reloginhoBH {
    margin-right: 1%;
}

.wrapperBH2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: right;
}

.BHDetalhes {
    flex: 1;
}

.BHPreco {
    color: #0e1724;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    font-family: Poppins-Bold !important;
    color: green;
}

.BHPublicado {
    color: #4d525b;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.45;
}

.bodyBody {
    background-color: #eee;
    padding: 10px 0;
}

.bodyDetalhes {
    flex: 6;
    min-height: 500px;
    margin: 0 0.5% 0 1%;
}

.BDescricao {
    word-break: break-word;
}
/* #region BOTÃO PROPOSTA*/
    
.botaoProposta {
    background: #2d3436 !important;
    border-color: #282d2e !important;
    border-radius: 40px !important;
    width: 100% !important;
    transition: all .1s ease-in-out;
}

.botaoProposta.menor {
}

.botaoProposta:hover {
    transform: scale(1.02);
    background: #464f52;
}

.botaoProposta:focus {
    transform: scale(1.05);
    outline: none;
}
/* #endregion */