.tiraMargin {
    margin: 0;
}


/*  ---------------------------------------  SECAO IMAGEM TROCAS  ---------------------------------------  */

#secaoImagensTrocas {
    padding: 0;
    width: 100%;
    height: 80vh;
}

#imagemTransicaoFluid {
    position: relative;
    top: 1px;
    width: 100%;
}

#imagemOndaWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.carrossel {
    height: 100%;
    width: 100%;
    position: absolute;
}

#backgroundDegrade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #37d968;
    opacity: 0.8;
}

#textoEBotoesWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#textoEBotoes {
    z-index: 15;
    margin-left: 5%;
    margin-bottom: 290px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#textoParalax {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#textoParalaxCima {
    font-size: 2.8em;
}

#textoParalaxBaixo {
    margin-top: 5px;
    font-size: 1.9em;
    margin-bottom: 45px;
}

#botaoContratar {
    background: #ffc90e;
    border: none;
    margin-left: 10%;
}

#botaoContratar:hover {
    background: #ffd334;
}

#botaoTrabalhar {
    background: none;
    border: 2px solid white;
    margin-left: 2%;
}

#botaoTrabalhar:hover {
    border-color: #e2e2e2;
}

.botaoTelaInicial {
    border-radius: 7px;
    color: inherit;
    padding: 15px 8%;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-weight: bold;
    word-spacing: 5%;
    font-size: 1.2em;
}

.botaoTelaInicial:hover {
    color: inherit;
}


/* ---------------------
        CARROSSEL
       --------------------- */

#paginacaoPosition {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 200px 18%;
    top: 25%;
    margin: 0 !important;
}

#paginacao {
    z-index: 1;
}

.paginacao {
    background-color: white !important;
    transition: 0.1s;
    width: 1.5vw !important;
    height: 1.5vw !important;
    border-radius: 100%;
    margin-left: 2% !important;
}

.paginacao:hover {
    opacity: 1;
}

#paginacaoTelaInicial {
    display: flex;
    justify-content: center;
    z-index: 2;
}


/* ---------- FIM CARROSSEL ------------ */


/*  ---------------------------------------  FIM SECAO IMAGEM TROCAS  ---------------------------------------  */


/*  ---------------------------------------  SECAO FUNCIONAMENTO  ---------------------------------------  */

#secaoFuncionamento {
    width: 100%;
    height: 75vh;
    height: max-content;
    background-color: white;
    text-align: center;
    padding-top: 3%;
}

#textoFuncionamento {
    font-size: 190%;
    font-family: Arial;
    margin-left: 0.8%;
    font-weight: bold;
}

#wrapperFuncionamento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.4% 15% 0%;
}


/*  ---------------------------------------  FIM SECAO FUNCIONAMENTO  ---------------------------------------  */


/*  ---------------------------------------  SECAO VANTAGENS  ---------------------------------------  */

#secaoVantagens {
    width: 100%;
    height: max-content;
    background-color: white;
    text-align: center;
    padding: 7% 0 4%;
}

#textoVantagem {
    font-size: 190%;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 1%;
}

.wrapperVantagem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.4% 15% 0%;
}

.wrapperVantagemCima {
    margin: 3.3% 15% 0%;
}

.wrapperVantagemBaixo {
    justify-content: space-evenly;
}


/*  ---------------------------------------  FIM SECAO VANTAGENS  ---------------------------------------  */


/*  ---------------------------------------  SECAO PREFERIDOS  ---------------------------------------  */

#secaoPreferidos {
    background-color: #f7f7f7;
    padding: 0 0 200px;
}

#textoPreferidos {
    font-size: 190%;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 25px;
}

#textoPreferidosBaixo {
    font-size: 165%;
    font-family: Arial;
    font-weight: bold;
}

#imagemOndaWrapperBaixo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f7f7f7;
}

#imagemTransicaoFluidBaixo {
    position: relative;
    bottom: 1px;
    width: 100%;
    transform: rotateX(180deg);
}

#wrapperPreferidos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 12% 0;
}

#titulosPreferidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 10px 0;
}

.ImagemCarrosel {
    height: 100% !important;
    object-fit: cover !important;
}

@media (max-width:800px) {
    #textoEBotoes {
        font-size: 13px !important;
        margin-bottom: 0px !important;
    }
    .botaoTelaInicial {
        padding: 15px 3% !important;
    }
    #botaoContratar {
        margin-left: 8%;
    }
    .itemFuncionamento {
        width: 100% !important;
    }
    .itemVantagem {
        width: 100% !important;
    }
    #paginacaoPosition {
        top: 10% !important;
        z-index: 16;
    }
    .paginacao {
        height: 2.5vw !important;
        width: 2.5vw !important;
    }
    #titulosPreferidos {
        padding: 10px !important;
        text-align: center !important;
    }
    .itemPreferido {
        margin-top: 10px !important;
    }
    .tituloVantagem {
        font-size: 18px !important;
    }
    #wrapperPreferidos {
        flex-wrap: wrap;
    }
}


/*  ---------------------------------------  FIM SECAO PREFERIDOS  ---------------------------------------  */